/* Se aplica a qualquer elemento */
* {
    font-family: Verdana, sans-serif;
}

/* se aplica à tag <body> */
body {
    background-color: #8561FE;
    margin-top: 0;
    margin-bottom: 0;
}

.white-background {
    background-color: white;
    height: 100vh;
    padding-left: 30px;
    padding-right: 30px;
}

/* se aplica a todos os elementos com a classe center que não foram especificados abaixo */
.center {
    margin: auto;
    width: 50%;
}

/* se aplica apenas a títulos h1 com a classe center */
h1.center {
    text-align: center;
}

/* se aplica apenas a parágrafos com a classe center */
p.center {
    text-align: center;
}

/* se aplica apenas a imagens com a classe center */
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

li.no-marker {
    list-style: none;
}