/*DEFINE COMO TUDO COM ESTA FONTE*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
*{
  overflow: auto; 
}
/* ESTILIZAÇÃO BODY */
body {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    background-image: url('https://media.them.us/photos/5b1ef721bfa1890010f0e15e/master/pass/new-pride-flag-01.jpg');
    height: 100vh;
    background-attachment: local;
    background-size: 100%; 
}
*{
  box-sizing: border-box;
}
/*ESTILIZAÇAO SOBREPOSIÇÃO DO BACKGROUND*/
div.container{
    margin-top: 0;
    align-items: center;
    margin: auto;
    justify-content: center;
    background: #000000b6;
    background-size: 150%;
}
/*ESTILIZAÇÃO ESPAÇO AO CENTRO COM AS INFORMAÇÕES*/
.white-background {
    background-attachment: fixed, scroll;
    background-repeat: no-repeat, repeat-y;
    font-family: 'Kanit', sans-serif;
    background-color: white;
    height: 100vh;
    padding-left: 30px;
    padding-right: 30px;
}
/* se aplica a todos os elementos com a classe center que não foram especificados abaixo */
.center {
    margin: auto;
    width: 50%;
}
/* ESTILIZAÇÃO TODOS OS TITULOS H1 CENTER*/
h1.center {
    text-align: center;
}
/* se aplica apenas a parágrafos com a classe center */
p.center {
    text-align: center;
}
/* se aplica apenas a imagens com a classe center */
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
li.no-marker {
    list-style: none;
}
/*MODAL BY https://www.w3schools.com/howto/howto_css_modals.asp*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  background-attachment: fixed;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow:scroll; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/*ESTILIZAÇÃO DO MENU PAGINA INICIAL*/
.inicio_class{
  color: white;
}
.logo{
    box-sizing: border-box;
  }
  nav{
    background: #FF99CC;
    display: flex;
    justify-content:space-around;
    align-items: center;
    color: #fff;
  }
  .nav-links {
      display: flex;
      justify-content:space-around;
      width: 50%;
      text-transform: uppercase;
  }
  .nav-links a{
    display: block;
     text-transform: uppercase;
     text-decoration: none;
     color: #fff;
    border-bottom:2px solid transparent;
    transition:0.5s ease;
    transform: translateX(0%);
  }
  .nav-links a:hover{
    color:#38b8ff;
    letter-spacing: 5px;
  }
  .burger{
    display: none;
  }
  .burger div{
    width: 25px;
    height: 3px;
    background: #fff;
    margin: 5px;
    transition:all 0.5s ease;
  }
  @media only screen and (max-width: 760px){
     nav{
      justify-content: space-between;
      padding: 0 5vw;
    }
    .nav-links{
      position: absolute;
      min-height:92vh;
      background: rgba(220, 119, 220, 0.652);
      display: flex;
      flex-direction: column;
      align-items: center;   
      width: 100%;
      margin: 0;
      padding: 0;
      transform: translateX(100%);
      transition:All 0.5s ease-in;
    }
    .nav-links a{
      opacity: 0;
    }
    .burger{
      display: block;
    }
  }
  @media only screen and (max-width: 640px){
    nav{
      justify-content: space-between;
      padding: 0 5vw;
    }
  }
  .nav-active{
    transform: translateX(0);
  }
  @media only screen and (max-width: 460px){
    .nav-links{
      width: 100%;
      transition:All 0.5s ease;
    }
  }
  .nav-active{
    transform: translateX(0);
  }
  @keyframes navLinkFade{
    from{
      opacity: 0;
      transform: translateX(50px);
    }
    to{
      opacity: 1;
      transform: translateX(0);
    }
  }
  .toggle .line1{
     transform: rotate(-45deg) translate(-5px,6px );
  }
  .toggle .line2{
     opacity: 0;
  }
  .toggle .line3{
     transform: rotate(45deg) translate(-5px,-6px );
  }
.corpo{
  position: fixed;
}
/*LOGIN*/
.login{
  margin-left: 13%;
}
input[type='submit']{
  font-family: 'Kanit', sans-serif;
  padding:10px;
  padding-top: 4px;
  border: solid #e412b3;
  background-color:  #FF99CC;
  font-size: 14px;
  color: #403d3d;
  border-radius: 7px 7px 7px 7px;
  size: 15px;
  display: flex;
  border-width: 2px;
  margin-left: 33%;
}
input[type='text']{
  font-family: 'Kanit', sans-serif;
  padding: 10px;
  border: 1px solid #e412b3;
  background-color: #FF99CC;
  color: black;
  border-radius: 20px 20px 20px 20px;
  size: 10px;
}
input[type='e-mail']{
  font-family: 'Kanit', sans-serif;
  padding: 10px;
  border: 1px solid #e412b3;
  background-color: #FF99CC;
  color: black;
  border-radius: 20px 20px 20px 20px;
  size: 10px;
}
input[type='password']{
  font-family: 'Kanit', sans-serif;
  padding: 10px;
  border: 1px solid#e412b3;
  background-color: #FF99CC;
  color: black;
  border-radius: 20px 20px 20px 20px;
  size: 10px;
}
input[type='button']{
  font-family: 'Kanit', sans-serif;
  padding:8px;
  padding-top: 4px;
  border: 1px solid #e412b3;
  background-color: #FF99CC; 
  color: #e412b3;
  border-radius: 7px 7px 7px 7px;
  size: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}