<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- para o frontend, faça assim -->
    <link rel="shortcut icon" href="../static/img/favicon.ico">
    <link rel="stylesheet" href="../static/css/main.css">
    <!-- para o backend, faça assim -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>ERRO!</title>
</head>
<body>
<div class="container">
<div class="center white-background">
    <h1 class="center">Abafa, mona... </h1>
    <br/>
    <p class="center">Página não encontrada :(</p>
    <br/>
    <!-- a imagem abaixo só irá carregar quando o backend estiver executando -->
    <img alt="cryingpabllo" class="center" src="{{ url_for('static', filename='img/cryingpabllo.jpg') }}">
</div>
</div>
</body>
</html>