<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- REFERENCIA PARA O FRONT-END -->
    <link rel="icon" href="../static/img/favicon.ico">
    <link rel="stylesheet" href="../static/css/main.css">
    <script type="text/javascript" src="../static/js/main.js"></script>
    <!-- ROTA PARA O BACK-END -->
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>QueerBeats 🏳️‍🌈</title>
</head>
<body>
  <div class="container">
      <div class="center white-background">
          <nav>
              <div class="logo">

                  <h4><a href="pagina_inicial.html#inicio" class="inicio_class">PAGINA INICIAL</h4>
              </div>
              <ul class="nav-links"> 
                  <li class="no-marker"><a href="{{ url_for('server_generated_page') }}">Server Page</a></li>
                  <li class="no-marker"><a href="{{ url_for('ajax_generated_table') }}"> Tabelas </a></li>
              </ul>
              <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
              </div>
            </nav>
            <p>o menu so ira funcionar apos o backend estar rodando pois referenciam rotas e nao paginas</p>      
      <h1 id="inicio">Cantores LGBTQIA+ Brasileiros</h1>

      <p>
          Olá, bem-vinde ao QueerBeats, o seu site de referencias musicais LGBTQIA+ no Basil!
      </p>
      <!--EQUALIZADOR ANIMADO -->
      <body class="music">

          <div id="spans" class="music_div">
                <span></span>
                <span></span>
                <span></span>    
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
          </div>
          </body>
           <!-- FIM DO EQUALIZADOR ANIMADO -->
          <br><br><br><br><br><br><br>
          <!-- MODAL -->
          <div class="modal"><button class="modalBtn">olha esse modal aqui</button></div>
            <div class="content" id="modal">
              <h1 class="title">Teste de modal</h1>
              <p class="text">Modal funcionando, fecha clicando fora dele!</p>
            </div>
           
          <br><br>
          <!-- FIM DO MODAL -->
          <p>
          Existem duas páginas de exemplo: uma em que todo o HTML da página Web é gerado pelo
          servidor, e outra em que uma tabela é gerada por AJAX (o HTML está pré-renderizado,
          e só a tabela é atualizada).
      </p>
      <ul class="no-marker">
          <!-- nota: os links abaixo só funcionarão quando o backend estiver funcionando, pois eles referenciam ROTAS,
              e não páginas HTML! -->
          <!-- começo do trecho de código gerado pelo servidor -->
          {% autoescape false %}
          {{ lista_materias }}
          {% endautoescape %}
          <!-- fim do trecho de código gerado pelo servidor -->
      </ul>

      <!-- começo do trecho de código gerado pelo servidor -->
      {% autoescape false %}
      {{ shia }}
      {% endautoescape %}
      <!-- fim do trecho de código gerado pelo servidor -->
  </div>
  </div>
</body>
</html>